<div *ngFor="let item of books">
    <li>{{ item.title }} - {{ item.stock | stk }} 
    <span appAction="red" (click)="delete(item)">supprimer</span>
    <span appAction="yellow" (click)="update(item)">modifier</span>
</li>
</div>

<br />
<button (click)="createEditionModeHandle()">Mode de création</button>
<ng-container *ngIf="editionMode === EditionMode.Create; else updateMode">
    <app-book-edit (formChange)="getFormOnChange($event)">
        <h2>Création d'un livre</h2>
    </app-book-edit>
</ng-container>
<ng-template #updateMode>
    <app-book-edit [book]="bookUpdating" (formChange)="getFormOnChange($event, bookUpdating.id)">
        <h2>Mise à jour du livre {{ bookUpdating.id }}</h2>
    </app-book-edit>
</ng-template>


